<h1>
    The ultimate game.
</h1>
<form action = "/player1" method = "post">

    <input id = "inputplayer1" type = "text" name = "inputplayer1">
    <input id = "inputplayer2" type = "text" name = "inputplayer2">
    <input id = "submitplayers" type = "submit" name = "submitplayers">

</form>
