<h1>
    The ultimate game.
</h1>
<form action = "/player1" method = "post">

    <input id = "input-player1" type = "text" name = "input-player1">
    <input id = "input-player2" type = "text" name = "input-player2">
    <input id = "submit-players" type = "submit" name = "submit-players">

</form>
