<h1 id='player1name'><%= `${inputplayer1}` %></h1>
<form action = "/player1-2" method="post">
    <button id="attack1">Hit</button>
</form>
<!-- <form id= 'attack1' type = "button" name = "attack1" method="post" value="Hit"></form> -->
<h1 id='player2name'><%= `${inputplayer2}` %></h1>
<h2 id='player2HP'><%= `${player2HP}` %></h2>