<h1 id='player1name'><%= `${inputplayer1}` %></h1>
<form action = "/player1-confirm-hit" method="post">
    <button id="attack1">Hit</button>
</form>
<h1 id='player2name'><%= `${inputplayer2}` %></h1>
<h2 id='player2HP'><%= `${player2HP}` %></h2>

<h1 id="hitconfirmation1"><%= `${confirmHit}` %></h1>
<form action = " /player2" method = "post">
    <button id= "changeplayer">End Turn</button>
</form>